{% extends 'layout.html.twig' %}
{% set active = 'homepage' %}

{% block content %}

    <h1>Latest Info</h1>
    <ul>
        {% for package in latest %}
            <li><a href="/package/{{ package.getIdentifier|e }}">{{ package.getIdentifier|e }}</a> updated.</li>
        {% endfor %}
    </ul>
    
{% endblock %}
