{% extends 'layout.html.twig' %}

{% block content %}

    <h1>metagist on: {{package}}</h1>
    <div class="row-fluid">
        <div class="span4 category"><h2>Transparency</h2></div>
        <div class="span4 category"><h2>Community</h2></div>
        <div class="span4 category"><h2>Testing</h2></div>
    </div>
{% endblock %}
