{% extends 'layout.html.twig' %}
{% set pagetitle = 'metagist.org on ' ~ package %}

{% block content %}

    <div class="page-header">
        <h1>Ratings and Reviews for<br />{{package}}<br /></h1>
    </div>
    
    <div class="row-fluid">
    {% for rating in ratings %}
        <div class="span12">
            <h2>{% for i in 1..rating.rating %}<i class="icon icon-star"></i>{% endfor %} {{rating.title | e}}</h2>
            <p>{{rating.comment | e}}</p>
        </div>
    {% endfor %}
    </div>
                
{% endblock %}
