@import "../../../vendor/twitter/bootstrap/less/bootstrap.less";

body {
    padding-top: 60px;
}

h1, .block {
    background-color: darkblue;
    color: white;
    padding: 0.5em;
    margin-bottom: 0.2em;
}
